@font-face {
  font-family: 'zabras';
  src: url('./fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./img/start_screen/desert.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'zabras', Arial, 'Helvetica Neue', Helvetica;
}

/* Settings Popup START */
.settings-popup {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: none;
  z-index: 2;
  transition: top 0.5s ease;
}

.settings-popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background-image: url('./img/start_screen/xmark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: rgba(255, 0, 0, 0.747);
}

.settings-popup h2 {
  font-size: 24px;
  margin-bottom: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.settings-popup ul {
  list-style-type: none;
  padding: 0;
}

.settings-popup li {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 8px;
}

.settings-popup li strong {
  color: #ffcc00;
}

@keyframes slideDown {
  0% {
    top: 30%;
  }
  100% {
    top: 50%;
  }
}

@keyframes slideUp {
  0% {
    top: 50%;
  }
  100% {
    top: 30%;
  }
}
/* setting pop up END  */

.wrapper {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

h1 {
  font-size: clamp(32px, 8vw, 88px);
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 16px;
  width: 100%;
}

.user-interaction {
  position: relative;
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-container {
  position: absolute;
  background-image: url('./img/9_intro_outro_screens/start/startscreen_1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 480px;
  /*TODO hier 100vh wenn querkant mobile version */
  /* display: block; */
  /* margin: 0 auto; */
}

.start-container img {
  cursor: pointer;
}

.start-screen-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

.start-screen-container img {
  width: 48px;
  gap: 8px;
  padding: 4px;
}

.start-screen-container img:hover {
  transform: scale(1.1);
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96px;
  animation: pulse 2s infinite; /* Animation hinzufügen */
}

@keyframes pulse {
  0% {
    width: 96px;
  }
  50% {
    width: 110px; /* Maximalgröße */
  }
  100% {
    width: 96px; /* Ursprüngliche Größe */
  }
}

/* canvas css */
canvas {
  background-color: black;
  display: block;
  width: 100%;
  height: 480px;
}

.turn-device-warning {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url('./img/turn-device.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 240px;
  height: 240px;
}



/* inGame css start  */
.in-game-nav {
  /* position: absolute; */
  top: 70px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .start-container img {
  width: 33px;
} */

.in-game-nav .info-img {
  width: 36px;
}

.in-game-nav .sound-img {
  width: 33px;
}

.in-game-nav .play-pause-img {
  width: 32px;
}

.settings-btn {
  display: flex;
  flex-direction: column;
}

.panel-mobile {
  position: absolute;
  display: none;
  justify-content: space-between;
  bottom: 0;
  width: 100%;
  padding: 8px 16px;
}

.panel-group {
  display: flex;
  gap: 10px;
}

.panel-group:nth-of-type(2) {
  gap: 16px;
}

.panel-mobile img {
  width: 40px;
}

.d-none {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .panel-mobile {
    display: flex;
  }
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

}

@media only screen and (max-width: 510px) {
  .wrapper {
    display: none;
  }
  .turn-device-warning {
    display: block;
  }
  .start-container {
    height: 100vh;
  }
}

@media only screen and (max-height: 510px) {
  .start-container {
    height: 100vh;
    max-width: 720px;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }

  .canvas-title {
    display: none;
  }
}
